---
---
// Other color option
// $header-bg-color: #882426;
// $header-bg-color-secondary: #323030;
// $header-bottom-color: #c29545;
// $header-heading-color: #cdbea7;
// $section-headings-color: #882426;

// Headers
$header-bg-color: #8eba43;
$header-bg-color-secondary: #4b7447;
$header-bottom-color: #f9dc24;
$header-heading-color: #eb8a44;

// Text
$section-headings-color: #eb8a44;

@import "{{ site.theme }}";

.page-header {
  color: $header-heading-color;
  text-align: center;
  background-color: $header-bg-color;
  background-image: linear-gradient(120deg, $header-bg-color-secondary 70%, $header-bg-color);
  border-bottom: 1vh solid $header-bottom-color;

  @include large {
    padding: 4rem 5rem;
  }

  @include medium {
    padding: 2rem 3rem;
  }

  @include small {
    padding: 1.5rem 1rem;
  }
}

.page-header ul
{
  list-style: none;
  margin-bottom: 1rem;
  position:relative;
}

.page-header ul li
{
  position:relative;
  float:left;
  margin:0;
  padding:0
}

.page-header ul ul
{
  display:none;
  position:absolute;
  top:100%;
  left:0;
  background:#fff;
  padding:0
}
.page-header ul ul li
{
  float:none;
  width:200px
}
.page-header ul ul a
{
  line-height:120%;
  padding:10px 15px
}
.page-header ul ul ul
{
  top:0;
  left:100%
}
.page-header ul li:hover > ul
{
  display:block
}