---
---

$header-bg-color-secondary: #223344;
@import "{{ site.theme }}";

.page-header {
  color: $header-heading-color;
  text-align: center;
  background-color: $header-bg-color;
  background-image: linear-gradient(120deg, $header-bg-color-secondary, $header-bg-color);
  border-bottom: 4vh solid black;

  @include large {
    padding: 4rem 5rem;
  }

  @include medium {
    padding: 2rem 3rem;
  }

  @include small {
    padding: 1.5rem 1rem;
  }
}
