---
---

// Headers
$header-bg-color: #8eba43;
$header-bg-color-secondary: #4b7447;
$header-bottom-color: #f9dc24;
$header-heading-color: #eb8a44;

// Text
$section-headings-color: #eb8a44;

@import "{{ site.theme }}";

.page-header {
  color: $header-heading-color;
  text-align: center;
  background-color: $header-bg-color;
  background-image: linear-gradient(120deg, $header-bg-color-secondary 70%, $header-bg-color);
  border-bottom: 1vh solid $header-bottom-color;

  @include large {
    padding: 4rem 5rem;
  }

  @include medium {
    padding: 2rem 3rem;
  }

  @include small {
    padding: 1.5rem 1rem;
  }
}

.dropdown {
  display: inline-block;
  margin-bottom: 1rem;
  color: rgba(255, 255, 255, 0.7);
  background-color: rgba(255, 255, 255, 0.08);
  border-color: rgba(255, 255, 255, 0.2);
  border-style: solid;
  border-width: 1px;
  border-radius: 0.3rem;
  transition: color 0.2s, background-color 0.2s, border-color 0.2s;

  &:hover {
    color: rgba(255, 255, 255, 0.8);
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.2);
    border-color: rgba(255, 255, 255, 0.3);
  }

  + .dropdown {
    margin-left: 1rem;
  }

  @include large {
    padding: 0.75rem 1rem;
  }

  @include medium {
    padding: 0.6rem 0.9rem;
    font-size: 0.9rem;
  }

  @include small {
    display: block;
    width: 100%;
    padding: 0.75rem;
    font-size: 0.9rem;

    + .dropdown {
      margin-top: 1rem;
      margin-left: 0;
    }
  }
}
.dropdown-child {
    display: none;
}
.dropdown-child a {
    color: rgba(255, 255, 255, 0.7);
    border-color: rgba(255, 255, 255, 0.2);
    border-style: solid;
    border-width: 1px;
    border-radius: 0.3rem;
    text-decoration: none;
    transition: color 0.2s, background-color 0.2s, border-color 0.2s;
    display: inline-block;
}
.dropdown:hover .dropdown-child {
    display: inline-block;
}
