<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>

    {% if site.google_analytics %}
      <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', '{{ site.google_analytics }}');
      </script>
    {% endif %}
    <meta charset="UTF-8">

{% seo %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#1e392a">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
  </head>
  <body>
    <header class="page-header" role="banner">
      <h1 class="project-name">{{ site.title | default: site.github.repository_name }}</h1>
      <h2 class="project-tagline">{{ site.description | default: site.github.project_tagline }}</h2>
      <ul id="menu">
        <li><a href="https://josan82.github.io/gpathweb/" class="btn">Home</a></li>
        <li><a href="#" class="btn">The Project ￬</a>
          <ul class="hidden">
            <li><a href="https://josan82.github.io/gpathweb/concept.html">Concept</a></li>
            <li><a href="https://josan82.github.io/gpathweb/citing.html">How to cite</a></li>
            <li><a href="https://josan82.github.io/gpathweb/examples.html">Case studies</a></li>
          </ul>
        </li>
        <li><a href="#" class="btn">For Users ￬</a>
          <ul class="hidden">
            <li><a href="https://josan82.github.io/gpathweb/docs.html">Manuals</a></li>
            <li><a href="https://josan82.github.io/gpathweb/tutorials.html">Tutorials</a></li>
            <li><a href="https://josan82.github.io/gpathweb/downloads.html">Downloads</a></li>
            <li><a href="https://josan82.github.io/gpathweb/issues.html">Submit an issue</a></li>
          </ul>
        </li>
        <li><a href="#" class="btn">For Developers ￬</a>
          <ul class="hidden">
            <li><a href="https://josan82.github.io/gpathweb/apidocs.html">API documentation</a></li>
            <li><a target="_blank" rel="noopener noreferrer" href="{{ site.github.repository_url }}">Source code</a></li>
            <li><a href="https://josan82.github.io/gpathweb/pulls.html">Make a pull request</a></li>
          </ul>
        </li>
        <li><a href="#" class="btn">Contact ￬</a>
          <ul class="hidden">
            <li><a target="_blank" rel="noopener noreferrer" href="https://www.insilichem.com/">Insilichem Team</a></li>
            <li><a href="https://josan82.github.io/gpathweb/authors.html">Authors</a></li>
          </ul>
        </li>
      </ul>
    </header>

    <main id="content" class="main-content" role="main">
      {{ content }}

      <footer class="site-footer">
        {% if site.github.is_project_page %}
          <span class="site-footer-owner"><a href="{{ site.github.repository_url }}">{{ site.github.repository_name }}</a> is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a>.</span>
        {% endif %}
        <span class="site-footer-credits">This page was generated by <a href="https://pages.github.com">GitHub Pages</a>.</span>
      </footer>
    </main>
  </body>
</html>
